<!-- Header Component -->
<div class="header_block">
    <div class="width_wrapper">
        <nav class="header_nav" role="navigation">
            <div class="header_logo_box">
                <a href="#" class="header_logo_link">
                    <img class="header_logo_img" src="https://avedenkoa.github.io/avedenko_test_layout/img/logo.png" alt="logo">
                </a>
            </div>
            <div class="header_links_box">
                <ul class="links_list">
                    <li class="links_list_item">
                        <a class="list_item_link" href="#standarts">
                            Standarts
                        </a>
                    </li>
                    <li class="links_list_item">
                        <div class="dropdown show" role='menu'>
                            <a class="list_item_link dropdown-toggle" href="#" role="button" id="dropdownProdukte"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Produkte
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownProdukte">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </li>
                    <li class="links_list_item">
                        <div class="dropdown show" role='menu'>
                            <a class="list_item_link dropdown-toggle" href="#" role="button"
                                id="dropdownPeripherietechnik" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                Peripherietechnik
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownPeripherietechnik">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </li>
                    <li class="links_list_item">
                        <a class="list_item_link" href="#voteile">
                            Ihre voteile
                        </a>
                    </li>
                    <li class="links_list_item">
                        <a class="list_item_link" href="#bilder">
                            Bilder
                        </a>
                    </li>
                    <li class="links_list_item">
                        <a class="list_item_link" href="#kontakt">
                            Kontakt
                        </a>
                    </li>
                </ul>
            </div>
            <div class="hamburger_mobile toggle_hamburger_menu">
                <svg width="45" height="45" viewBox="0 0 100 100">
                    <path class="line line1"
                        d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
                    <path class="line line2" d="M 20,50 H 80" />
                    <path class="line line3"
                        d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
                </svg>
            </div>
        </nav>
        <div class="menu_mobile" role="navigation">
            <div class="menu_mobile_box">
                <ul class="mobile_menu_list">
                    <li class="menu_list_item">
                        <a class="menu_list_item_link close_menu" href="#standarts">
                            Standarts
                        </a>
                    </li>
                    <li class="menu_list_item">
                        <div class="mobile_dropdown_box">
                            <p class="menu_list_item_link menu_list_item_link--with_arrow collapsed"
                                data-toggle="collapse" data-target="#collapseMenu1" aria-expanded="false"
                                aria-controls="collapseMenu1">
                                Produkte
                                <img class="link_arrow" src="https://avedenkoa.github.io/avedenko_test_layout/img/arrow_bottom.png" alt="arrow">
                            </p>
                            <div class="dropdown_menu_mobile collapse" id="collapseMenu1">
                                <a class="dropdown_item_mobile close_menu" href="#">Action</a>
                                <a class="dropdown_item_mobile close_menu" href="#">Another action</a>
                                <a class="dropdown_item_mobile close_menu" href="#">Something else here</a>
                            </div>
                        </div>
                    </li>
                    <li class="menu_list_item">
                        <div class="mobile_dropdown_box">
                            <p class="menu_list_item_link menu_list_item_link--with_arrow collapsed"
                                data-toggle="collapse" data-target="#collapseMenu2" aria-expanded="false"
                                aria-controls="collapseMenu2">
                                Peripherietechnik
                                <img class="link_arrow" src="https://avedenkoa.github.io/avedenko_test_layout/img/arrow_bottom.png" alt="arrow">
                            </p>
                            <div class="dropdown_menu_mobile collapse" id="collapseMenu2">
                                <a class="dropdown_item_mobile close_menu" href="#">Action</a>
                                <a class="dropdown_item_mobile close_menu" href="#">Another action</a>
                                <a class="dropdown_item_mobile close_menu" href="#">Something else here</a>
                            </div>
                        </div>
                    </li>
                    <li class="menu_list_item">
                        <a class="menu_list_item_link close_menu" href="#voteile">
                            Ihre voteile
                        </a>
                    </li>
                    <li class="menu_list_item">
                        <a class="menu_list_item_link close_menu" href="#bilder">
                            Bilder
                        </a>
                    </li>
                    <li class="menu_list_item">
                        <a class="menu_list_item_link close_menu" href="#kontakt">
                            Kontakt
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>