<!-- Main Component -->
<div class="main_block" role="main">

    <!-- Main Section -->
    <section class="main_section" role='banner'>
        <div class="width_wrapper">
            <div class="main_section_box">
                <div class="info_box">
                    <h1 class="info_box_title">
                        Luftkondensierte
                        Kältemaschinen
                        & Kaltwassersätze
                    </h1>
                    <span class="divider_line"></span>
                    <img class="main_img_mobile" src="https://avedenkoa.github.io/avedenko_test_layout/img/mainimg1.png" alt="mainImg">
                    <p class="info_box_description">
                        Aufgrund der kompakten Bauart werden platzsparende luftkondensierte Kompressionskältemaschinen
                        (umgangsspr. „Kaltwassersätze“) vielseitig zur
                        Prozesskühlung und Gebäudeklimatisierung eingesetzt.
                    </p>
                    <span class="divider_line divider_line--none"></span>
                </div>
                <div class="img_box">
                    <img class="main_img" src="https://avedenkoa.github.io/avedenko_test_layout/img/mainimg1.png" alt="mainImg">
                </div>
            </div>
            <div class="main_section_box main_section_box--reverse">
                <div class="info_box">
                    <h2 class="info_box_title">
                        ENERGIEEFFIZIENZ IM FOKUS
                    </h2>
                    <p class="info_box_description">
                        Bei der Anschaffung sollte deshalb besonders auf <span class="bold">energieeffiziente
                            Systeme</span> geachtet
                        werden, denn
                        die Betriebskosten der Anlage überschreiten
                        erfahrungsgemäß über die Lebensdauer hinweg die einmaligen Anschaffungskosten um ein vielfaches.
                    </p>
                    <p class="info_box_description info_box_description--no_margin">
                        Insofern sind die Themen Kompressortechnik und Einsatz von Freikühlung von besonderer Bedeutung,
                        sowie Steuer- und Regelungstechnik besonders wichtig.
                    </p>
                </div>
                <div class="img_box">
                    <img class="main_img" src="https://avedenkoa.github.io/avedenko_test_layout/img/mainImg2.png" alt="mainImg">
                </div>
            </div>
        </div>
    </section>

    <!-- Standart Section -->
    <section class="standart_section" id="standarts">
        <div class="standart_section_block">
            <div class="standart_bg_box">
                <img class="standart_bg_img" src="https://avedenkoa.github.io/avedenko_test_layout/img/standartImg.png" alt="bg">
            </div>
            <div class="standart_info_block">
                <div class="standart_info_box">
                    <h3 class="standart_info_title">
                        MODERNSTE STANDARDS
                    </h3>
                    <p class="standart_info_description">
                        Aktuelle Richtlinien und Verordnungen bezüglich des <span class="bold">Kältemittel
                            Phase-Downs</span> müssen berücksichtigt
                        werden. Der langfristige Einsatz des Kältemittels muss sowohl nach ökonomischen als auch
                        strategischen Gesichtspunkten entschieden werden.
                    </p>
                    <p class="standart_info_description standart_info_description--no_margin">
                        Alle unsere Kältemaschinen entsprechen dem modernsten Stand der Technik und werden in den
                        unterschiedlichsten Branchen eingesetzt. Unser Angebot umfasst ein <span>breites Sortiment
                            an
                            natürlichen
                            und frigenen Kältemitteln,</span>
                        die den aktuellsten Normen und Verordnungen entsprechen.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Advantages Section -->
    <section class="advantages_section" id="voteile">
        <div class="width_wrapper">
            <h4 class="advantages_title">
                IHRE VORTEILE
            </h4>
            <ul class="advantages_list">
                <li class="advantages_list_item">
                    <div class="list_item_wrapper">
                        <img class="list_item_img" src="https://avedenkoa.github.io/avedenko_test_layout/img/item1.png" alt="itemIcon">
                        <h5 class="list_item_title">
                            Geringe Stellfläche
                        </h5>
                    </div>
                </li>
                <li class="advantages_list_item">
                    <div class="list_item_wrapper">
                        <img class="list_item_img" src="https://avedenkoa.github.io/avedenko_test_layout/img/item2.png" alt="itemIcon">
                        <h5 class="list_item_title">
                            Mit und ohne integrierter Freikühlung
                        </h5>
                    </div>
                </li>
                <li class="advantages_list_item">
                    <div class="list_item_wrapper">
                        <img class="list_item_img" src="https://avedenkoa.github.io/avedenko_test_layout/img/item3.png" alt="itemIcon">
                        <h5 class="list_item_title">
                            Für Außentemperaturen bis +55°C
                        </h5>
                    </div>
                </li>
                <li class="advantages_list_item">
                    <div class="list_item_wrapper">
                        <img class="list_item_img" src="https://avedenkoa.github.io/avedenko_test_layout/img/item4.png" alt="itemIcon">
                        <h5 class="list_item_title">
                            Für Außen- und Innenaufstellung erhältlich
                        </h5>
                    </div>
                </li>
                <li class="advantages_list_item">
                    <div class="list_item_wrapper">
                        <img class="list_item_img" src="https://avedenkoa.github.io/avedenko_test_layout/img/item5.png" alt="itemIcon">
                        <h5 class="list_item_title">
                            Betriebsbereit bei Anlieferung
                        </h5>
                    </div>
                </li>
                <li class="advantages_list_item">
                    <div class="list_item_wrapper">
                        <img class="list_item_img" src="https://avedenkoa.github.io/avedenko_test_layout/img/item6.png" alt="itemIcon">
                        <h5 class="list_item_title">
                            Automatische Freikühlschaltung für verringerten Energieverbrauch
                        </h5>
                    </div>
                </li>
                <li class="advantages_list_item">
                    <div class="list_item_wrapper">
                        <img class="list_item_img" src="https://avedenkoa.github.io/avedenko_test_layout/img/item7.png" alt="itemIcon">
                        <h5 class="list_item_title">
                            Robustes Gehäuse für Außenaufstellung
                        </h5>
                    </div>
                </li>
                <li class="advantages_list_item">
                    <div class="list_item_wrapper">
                        <img class="list_item_img" src="https://avedenkoa.github.io/avedenko_test_layout/img/item8.png" alt="itemIcon">
                        <h5 class="list_item_title">
                            Geringe Schallemissionen
                        </h5>
                    </div>
                </li>
                <li class="advantages_list_item">
                    <div class="list_item_wrapper">
                        <img class="list_item_img" src="https://avedenkoa.github.io/avedenko_test_layout/img/item9.png" alt="itemIcon">
                        <h5 class="list_item_title">
                            Wetterfest und Langlebig
                        </h5>
                    </div>
                </li>
                <li class="advantages_list_item">
                    <div class="list_item_wrapper">
                        <img class="list_item_img" src="https://avedenkoa.github.io/avedenko_test_layout/img/item10.png" alt="itemIcon">
                        <h5 class="list_item_title">
                            Erhöhte Betriebssicherheit
                        </h5>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <!-- Gallery Section -->
    <section class="gallery_section" id="bilder">
        <div class="width_wrapper">
            <h4 class="gallery_title">
                BILDER
            </h4>
            <div id="galleryIndicators" class="carousel slide gallery_box" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#galleryIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#galleryIndicators" data-slide-to="1"></li>
                    <li data-target="#galleryIndicators" data-slide-to="2"></li>
                </ol>
                <div class="gallery_item_wrapper carousel-inner">
                    <div class="gallery_item carousel-item active">
                        <img class="gallery_item_img d-block" src="https://avedenkoa.github.io/avedenko_test_layout/img/galleryItem.png" alt="First slide">
                    </div>
                    <div class="gallery_item carousel-item">
                        <img class="gallery_item_img d-block" src="https://avedenkoa.github.io/avedenko_test_layout/img/galleryItem.png" alt="Second slide">
                    </div>
                    <div class="gallery_item carousel-item">
                        <img class="gallery_item_img d-block" src="https://avedenkoa.github.io/avedenko_test_layout/img/galleryItem.png" alt="Third slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#galleryIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#galleryIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </section>

</div>