<!-- Footer Block -->
<div class="footer_block">

    <!-- Footer Contact -->
    <section class="footer_contact" id="kontakt">
        <div class="width_wrapper">
            <div class="contact_box">
                <div class="contact_logo_mobile_box">
                    <img class="contact_logo_mobile to_top" src="https://avedenkoa.github.io/avedenko_test_layout/img/footerLogo.png" alt="logo">
                </div>
                <h5 class="contact_title">
                    Jetzt Termin vereinbaren!
                </h5>
                <div class="contact_info_box">
                    <p class="contact_info_txt">
                        Gerne stehen wir Ihnen für eine individuelle Beratung telefonisch und vor Ort zur Verfügung und
                        freuen
                        uns über Ihre Kontaktaufnahme. Sprechen Sie uns an!
                    </p>
                    <p class="contact_info_txt">
                        Fragen Sie nach einem Rückruf oder kontaktieren Sie uns unter: <a class="contact_info_link"
                            href="mailto:info@elsasser-technik.de">info@elsasser-technik.de</a>
                    </p>
                    <a class="contact_info_btn" href="mailto:info@elsasser-technik.de">
                        Kontakt
                    </a>
                </div>
                <img class="contact_logo to_top" src="https://avedenkoa.github.io/avedenko_test_layout/img/footerLogo.png" alt="logo">
            </div>
        </div>
    </section>

    <!-- Footer Links -->
    <section class="footer_links" role='contentinfo'>
        <div class="width_wrapper">
            <div class="footer_links_block">
                <div class="footer_links_box">
                    <h6 class="links_title">
                        Elsässer Kältetechnik
                    </h6>
                    <ul class="links_list">
                        <li class="list_item">
                            Königsallee 14
                        </li>
                        <li class="list_item">
                            40212 Düsseldorf
                        </li>
                    </ul>
                </div>
                <div class="footer_links_box">
                    <h6 class="links_title">
                        Kontakt
                    </h6>
                    <ul class="links_list">
                        <li class="list_item">
                            Telefon: <a class="list_item_tel" href="tel:+49021192323052">+49 (0) 211 9232 3052</a>
                        </li>
                        <li class="list_item">
                            E-Mail: <a class="list_item_mail"
                                href="mailto:info@elsasser-technik.de">info@elsasser-technik.de</a>
                        </li>
                    </ul>
                </div>
                <div class="footer_links_box">
                    <h6 class="links_title">
                        Shortlinks
                    </h6>
                    <div class="list_item_link_wrapper">
                        <ul class="links_list links_list--margin">
                            <li class="list_item">
                                <a class="list_item_link" href="#standarts">
                                    Standarts
                                </a>
                            </li>
                            <li class="list_item">
                                <a class="list_item_link" href="#voteile">
                                    Ihre voteile
                                </a>
                            </li>
                        </ul>
                        <ul class="links_list">
                            <li class="list_item">
                                <a class="list_item_link" href="#bilder">
                                    Bilder
                                </a>
                            </li>
                            <li class="list_item">
                                <a class="list_item_link" href="#kontakt">
                                    Kontakt
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>